<!Doctype html>
<html lang="en">
  <head>
    <title>IOT-seed</title>
    <meta charset="utf-8">
    <meta data-n-head="ssr" name="viewport" content="width=device-width,initial-scale=1">
    <% if (htmlWebpackPlugin.options.window) { %>
    <script>
      <% for (var varName in htmlWebpackPlugin.options.window) { %>
      window['<%=varName%>'] = <%= JSON.stringify(htmlWebpackPlugin.options.window[varName]) %>;
      <% } %>
    </script>
    <% } %>

  </head>
  <body>
    <h1>IOT-seed</h1>

  </body>
</html>
